
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: #f5f5f5;
}
.tieu-de{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.tieu-de p{
      font-size: 20px;
      font-weight: bold;
      color:  #49BBBD;
}
.container{
    display: flex;
    gap:20px;
    background-color: #f5f5f5;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
p{
    display: inline-block;
   
}
.container div{
    border-radius: 15px;
    width:374px;
    padding-bottom:10px;
   border-radius: 15px;
   background-color: white;
   
}
.container .img{
    width:335px;
    height:239px;
    padding:15px;

}
span{
    color: #49BBBD;
     font-size:24px ;
    font-weight: 700;
}
.design{
    display: flex;
    justify-content: space-between;
    width:100%;
    background-color: #49BBBD;
}
h2{
    margin:10px;
}
.container p{
    margin:10px;
}
.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}