body{
    font-family:cursive;
    background-color:#fff7ed;
}
h1{
    text-align:center;  
    background-color:#fde68a;
    color:#92400e;
}
nav{
    text-align:center;
    margin-bottom:20px;
    color:#92400e;
    background-color:#fed7aa;
    margin: 10px;
}
nav a:hover{
    color: white;
    background-color:#78350f;
}
footer{
    text-align: center;
    background-color:#78350f;
    color:white;
}
img{
    margin-left: 400px;
    width: 50%;
    height: auto;
}

.main h2{
    color :#92400e; 
    background-color: rgb(250, 251, 252);
}
.main {
    background-color: rgb(250, 251, 252);

}

.main ol li:hover{
    background-color:#78350f;
    color:yellow;
}