<<<<<<< HEAD
*{
    font-family: Arial , sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #0ea5e9;
    color:white;
    text-align: center;
    border-radius: 0 0 20px 20px;
    height:200px;
}
h1{
    padding:10px;
}
header span{
    position: relative;
    top:50px;
}
.menu{
    text-align: center;
    margin:30px;
    height:30px;
    background-color: aliceblue;
    color:#077cb3;
}
nav span{
    padding:5px;
    border-radius:15px;
    margin:10px;
}
nav span:hover{
    background-color: #72c5f3;
    color:white;
  
}

.gioi-thieu{
    border-radius: 15px;
    background-color: rgb(234, 238, 241);
    padding :30px;
    margin:20px;
}

.uy-tin{
    margin:20px;
    border-left: 10px solid #044f77;
    border-radius: 15px;
    background-color: #b9dff0;
    padding:10px 50px;
    height:170px;
}

footer{
    text-align: center;
    color:white;
    background-color: black;
}

=======
*{
    font-family: Arial , sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: #0ea5e9;
    color:white;
    text-align: center;
    border-radius: 0 0 20px 20px;
    height:200px;
}
h1{
    padding:10px;
}
header span{
    position: relative;
    top:50px;
}
.menu{
    text-align: center;
    margin:30px;
    height:30px;
    background-color: aliceblue;
    color:#077cb3;
}
nav span{
    padding:5px;
    border-radius:15px;
    margin:10px;
}
nav span:hover{
    background-color: #72c5f3;
    color:white;
  
}

.gioi-thieu{
    border-radius: 15px;
    background-color: rgb(234, 238, 241);
    padding :30px;
    margin:20px;
}

.uy-tin{
    margin:20px;
    border-left: 10px solid #044f77;
    border-radius: 15px;
    background-color: #b9dff0;
    padding:10px 50px;
    height:170px;
}

footer{
    text-align: center;
    color:white;
    background-color: black;
}

>>>>>>> eae94f5c102f2fe5fcc0d77ff8f75dfa17431048
