*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header {
    display: flex;
    width:1170px;
    justify-content: space-between;
    padding: 10px 25px;
}
main{
    display: flex;
    justify-content: space-between;
    width:1170px;
    height:812px;
    flex-direction: column;
}
header svg{
    font-size: 20px;
}
.content1{
    width:1170px;
    height:322px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0 60px 0;
    gap:30px;
    padding:10px;

}

.content1 div{
    height:322px;
    margin:20px;
    width:270px;
 
}
.content2{
      width:1170px;
    height:322px;
    display: flex;
    justify-content: space-between;
    margin: auto 0 60px 0;
    gap:30px;
    padding:10px;
}
main div > img{
    width:190px;
    height:180px;
    margin:auto;
}